<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
      <button mat-button color="accent"><h3>Filter</h3></button>
    <mat-nav-list color="primary">
      <a mat-list-item routerLink="" >All</a>
      <a mat-list-item routerLink="/Category">Category</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">Filter</mat-icon>
      </button>
      <span color="accent">jwellaryWeb</span>
    </mat-toolbar>
    <!-- Add Content Here -->
      <ng-component> </ng-component>
  </mat-sidenav-content>
</mat-sidenav-container>
