<div class="grid-container">
 <table>
   <tr>
     <td *ngFor="let item of arr_jwellery" height="30%" width="30%">
      <mat-card height="10%" width="30%">
        <mat-card-header>
          <mat-card-title>{{item.jwellery_name}}</mat-card-title>
          <mat-card-subtitle>Rs. {{item.jwellery_price}} </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{item.jwellery_image}}" alt="Image Not Available"  height="10%" width="30%">
        <mat-card-content>

        </mat-card-content>
        <mat-card-actions>
          <button mat-icon-button color="warn">
            <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
          </button>
          <button mat-raised-button color="accent">Add To Cart</button>
          <button mat-raised-button color="primary">More</button>
        </mat-card-actions>
      </mat-card>
     </td>
   </tr>
 </table>
</div>
