<div class="grid-container">
  <mat-grid-list cols="4" rowHeight="300px">
     <mat-grid-tile *ngFor="let item of arr_jwellery" >

        <mat-grid-tile-header color="accent" >
          {{item.jwellery_name}}<br>
         Rs. {{item.jwellery_price}}
        </mat-grid-tile-header>
        <img mat-grid-tile-image src="{{item.jwellery_image}}" alt="Image Not Available"  height="300px" width="300px">
        <mat-grid-tile-footer>
          <button mat-icon-button color="warn">
            <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
          </button>
          <button mat-raised-button color="accent">Add To Cart</button>
          <button mat-raised-button color="primary">More</button>
        </mat-grid-tile-footer>

     </mat-grid-tile>
  </mat-grid-list>
</div>
